<html>
    <head>
            <meta charset="utf-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="author" content="JulianCames" />        
            <title>Cames Tools</title>
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/ng-table.min.css">
            <link rel="stylesheet" href="css/general.css">
            <script src="js/angular.min.js"></script>
            <script src="js/angular-animate.min.js"></script>
            <script src="js/angular-locale_es-co.js"></script>
            <script src="js/ui-bootstrap-tpls-2.3.1.min.js"></script>        
            <script src="js/ng-table.min.js"></script>
            <script src="js/lodash.min.js"></script>
    </head>
	<body>
            <header>
                <div class="logo-JCP"></div>
            </header>
            <section>
                <div ng-app="myApp">
                    <div ng-controller="TabsDemoCtrl">                                                
                        <uib-tabset active="active">
                            <uib-tab index="0" heading="UniParam - 18">
                                <div class="col-md-12">
                                    <div class="row">
                                    <div class="col-md-12">
                                        <label class="import-file">
                                            <input type="file" onchange="angular.element(this).scope().loadfile(this)" style="display: none;">
                                            <div class="btn btn-primary"><span class="glyphicon glyphicon-open"></span>    Load UniformParameter.bin...</div>
                                        </label>
                                        <button class="btn btn-success" ng-click="getFile()"><span class="glyphicon glyphicon-save"></span>  Generate and download new File</button>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped tableHex" show-filter="false">
                                            <colgroup>
                                                <col width="10%" />
                                                <col width="10%" /> 
                                                <col width="10%" /> 
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="10%" />
                                                <col width="30%" />                                                			          
                                            </colgroup>
                                            <tr ng-repeat='uni in $data'>                                                
                                                <td>
                                                    <button class="btn btn-success btn-sm" ng-click="addReal(uni)" ng-if="uni.isAdding"><span class="glyphicon glyphicon-share-alt"></span>  confirm</button>
                                                    <button class="btn btn-danger btn-sm" ng-click="uni.isAdding = false" ng-if="uni.isAdding"><span class="glyphicon glyphicon-remove"></span>  Cancel</button>
                                                    <button class="btn btn-info btn-sm" ng-click="uni.isAdding = true" ng-if="!uni.isAdding" ng-disabled="uni.filename.indexOf('realUni') != -1"><span class="glyphicon glyphicon-share-alt"></span>  add Real</button>
                                                </td>
                                                <td>
                                                    <button class="btn btn-success btn-sm" ng-click="toReal(uni)" ng-if="uni.isEditing"><span class="glyphicon glyphicon-share-alt"></span>  confirm</button>
                                                    <button class="btn btn-danger btn-sm" ng-click="uni.isEditing = false" ng-if="uni.isEditing"><span class="glyphicon glyphicon-remove"></span>  Cancel</button>
                                                    <button class="btn btn-info btn-sm" ng-click="uni.isEditing = true" ng-if="!uni.isEditing" ng-disabled="uni.filename.indexOf('realUni') != -1"><span class="glyphicon glyphicon-share-alt"></span>  to Real</button>
                                                </td>
                                                <td>                                                    
                                                    <button class="btn btn-primary btn-sm" ng-click="editKitConfig(uni)" ng-if="!uni.isEditKit" ng-disabled="uni.filename.indexOf('realUni') == -1"><span class="glyphicon glyphicon-pencil"></span>  edit</button>
                                                </td>
                                                <td title="'filename'">{{uni.filename}}</td>
                                                <td title="'posConfig'">{{uni.positionConfig}}</td>
                                                <td title="'posName'">{{uni.positionName}}</td>
                                                <td title="'lengthConfig'">{{uni.lengthConfig}}</td>                
                                                <td title="'Config'">{{uni.configuration}}</td>
                                            </tr>
                                        </table>
                                        </div>
                                    </div>
                                    </div>
                            </uib-tab>                                                        
                            <uib-tab index="3" heading="Other">
                                
                            </uib-tab>
                        </uib-tabset>

                        <!--Modal-->
                        <script type="text/ng-template" id="kitConfig.html">
                            <div class="modal-header">
                                <h3 class="modal-title">{{title}}</h3>
                            </div>
                            <div class="modal-body">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <table ng-table="tableFileNamesKit" class="table table-condensed table-bordered table-striped tableHex" show-filter="false">
                                                <tr ng-repeat='kit in $data'>
                                                   <td title="'filename'">{{kit}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="col-md-2">
                                          2 of 3
                                        </div>
                                        <div class="col-md-2">
                                          3 of 3
                                        </div>
                                    </div>                                    
                                </div>
                                
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>
                    </div>
                </div>
            </section>
            <footer>
                <div class="footerText">2016-2017 JulianCames. All right reserved  -   <a href="https://juliancames.blogspot.com/" target="_blank">juliancames.blogspot.com</a></div>        	
            </footer>	
            <!-- AngularJS Files -->
            <script src="js/camestoolsApp.js"></script>
            <script src="js/camestoolsControllers.js"></script>
    </body>
</html>